Source: python-heat-salt
Maintainer: tcpcloud Packaging Team <pkg-team@tcpcloud.eu>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 9), dh-python
Build-Depends-Indep: python-requests,
                     python-yaml,
                     python-setuptools,
                     python-pbr,
                     git
Standards-Version: 3.9.6
X-Python-Version: >= 2.6
Homepage: https://git.tcpcloud.eu/heat-resources/salt-resources
Vcs-Browser: https://git.tcpcloud.eu/heat-resources/salt-resources
Vcs-Git: https://git.tcpcloud.eu/heat-resources/salt-resources.git

Package: python-heat-salt
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Heat resources for SaltStack
